.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

.modal-container{
    position: fixed;
    max-width: 800px;
    height: 400px;
    background-color: #fff;
    margin: auto;
    inset: 0;
}

.buttonClose{
    border: none;
    float: right;
    margin: 5px 10px 0px 0px;

    font-size: 24px;
    font-weight: bold;

    background: #fff;
    cursor: pointer;
    
}

.buttonClose:hover{
    color: blueviolet;
}

.info{
    display: flex;
    
}

.infoImg{
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

.infoImg img{
    width: 300px;
    height: 300px;
    
}

.infoTxt{
    flex: 1;
}