@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Roboto:wght@100;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  /*background-image: url('../img/andy-holmes-rCbdp8VCYhQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;*/

  font-family: 'Roboto', sans-serif;
  
}

header{

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 2, 29, 0.699);
  color: white;

  font-family: 'New Tegomin', serif;
  padding: 15px 0;
}



.cards{
  
  border: 1px solid red;
  padding: 10%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px ,1fr));
  column-gap: 45px;
  row-gap: 60px;
  
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;

  border: 1px solid red;
}


.perso{
  border: 1px solid red;
  width: 300px;
  height: 80px;
  margin-bottom: 5px;
}

.perso h2{
  font-size: 18px;
  
}

.card ul{
  list-style: none;
}

.card ul li{
  width: 300px;
  margin-left: 20px;
  margin-bottom: 5px;
}



.descricao{
  background-color: rosybrown;

  height: 200px;
}

.descricao h4{
  margin: 10px 0;
  padding-top: 10px;
  
}